[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Shital234
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Shital234
	label-Verified = -1..+1 group user/Shital234
	push = group user/Shital234
	read = group user/Shital234
	rebase = group user/Shital234
	removeReviewer = group user/Shital234
	submit = group user/Shital234
[access "refs/heads/*"]
	create = group user/Shital234
	push = +force group user/Shital234
	pushMerge = group user/Shital234
	read = group user/Shital234
[access "refs/tags/*"]
	push = group user/Shital234
	push = +force group user/Shital234
